@import 'src/assets/scss/_colors';
@import 'src/assets/scss/_themes.scss';
@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.navbar {
  display: none;

  @include mobile {
    display: block;
  }

  color: $neutral0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bg-navbar;
  border-radius: 8px 8px 0px 0px;
  z-index: $navbar-index;
  font-size: 8px;
  &--list {
    display: flex;
    justify-content: center;
  }
  &--child {
    padding: 9px 0;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: #71cef3;
    }
    img {
      padding-bottom: 6px;
    }
  }
}

.nav-routes {
  padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: $nav-menu-index;
  // background-color: #293b7b;
  &--item {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    img {
      margin-right: 21px;
      margin: 10px 20px;
    }
    &__caret {
      float: right;
    }
  }
  &--label {
    padding: 13px;
  }
  &--sub-menu {
    background-color: #242057;
    &__item {
      margin-top: 8px;
      padding: 10px 57px;
    }
  }
  .open {
    max-height: 200px;
    transition: max-height 0.2s;
    overflow: hidden;
    transition-timing-function: linear;
  }
  .close {
    max-height: 0px;
    transition: max-height 0.2s;
    overflow: hidden;
    transition-timing-function: linear;
  }
  #close-btn {
    position: fixed;
    bottom: 42px;
    right: 42px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
