.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color_dark_500;
  position: sticky;
  .sub-menu {
    background: $color_dark_400;
    .menu-item {
      padding: 3px 20px;
      border-bottom: 1px solid $color_gray_7;
    }
  }
}
