@import 'src/assets/scss/variable.scss';

.button {
  border-radius: 8px;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  padding: 7px 25px;
  &--default {
    background-color: $color1;
    color: $color-black-1;
    &:focus,
    &:active,
    &:hover {
      color: $color-black-1;
      border: 1px solid $color-grey-5;
      background-color: $color-grey-3;
    }
  }

  &--light {
    background: $color11;
    color: $color1;
    &:focus,
    &:active,
    &:hover {
      color: $color1;
      border-color: $color-price-red-2 !important;
      background-color: $color-price-red-2;
    }
  }

  &--primary {
    background-color: $color-green-3;
    color: $color1;
    &:focus,
    &:active,
    &:hover {
      background-color: $color-green-5;
      border-color: $color-green-5;
      color: $color1;
    }
  }

  &--secondary {
    background-color: $color11;
    color: $color1;
    &:focus,
    &:active,
    &:hover {
      color: $color-white;
      background-color: $color-price-green;
    }
  }

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
  }
}
