@import 'src/assets/scss/variable.scss';

.contained-default {
  border: none;
  color: $color1;
  border-radius: 5px;
  background: $color13;
  font-size: 12px;
  font-weight: 600;

  &:hover {
    color: $color1;
    background: $color13;
  }

  &:focus {
    border: none;
    color: $color1;
    background: $color13;
  }
}
