.not-found-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  color: #ffffff;

  .big-font {
    font-size: 8rem;
    font-weight: 700;
  }

  .not-found-group {
    .not-found-text {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .not-found-detail {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;

      .not-found-detail-highlight {
        font-size: 1rem;
        font-weight: 700;
        font-style: normal;
        color: #71cff5;
        margin-left: 10px;
      }
    }
  }
}
