$link-to-text-color: #242057;

.toast-body-wrapper {
  display: flex;
  align-items: center;

  .link-to-icon {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }

  .link-to-text {
    text-decoration: underline;
    color: $link-to-text-color;
  }
}
