@import '../../assets/scss/variable.scss';

.frac-select {
  min-width: 240px;

  .ant-select-selector {
    min-height: 44px;
    border: 1px solid $color13 !important;
    border-radius: 8px !important;
  }
}

.ant-select-dropdown {
  border: 1px solid $color3;
  border-radius: 8px;
}

.ant-select-item-option {
  height: 44px;
  line-height: 30px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  line-height: 36px;
}

.option-network {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  color: $color12;
  font-size: 16px;
  font-family: 400;
}

.ant-select-disabled {
  .option-network {
    color: $color-grey-5;
  }
}
