@import 'src/assets/scss/responsive.scss';
@import 'src/assets/scss/variable.scss';

$background-color: #1b1936;
$background-color-sider: #293b7b;

#layout {
  height: auto;
  // background: $background-color;
  #slider {
    @include mobile {
      display: none;
    }
  }
  .sider {
    // background: $background-color-sider;
    position: sticky;
    left: 0;
    height: 100vh;
    top: 0;
    .logo-section {
      padding: 34px 32px;
      border-bottom: 1px solid $color-gray-4;
      border-right: 1px solid $color-gray-4;
      background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .main-menu {
      height: calc(100vh - 104px);

      .ant-menu-submenu-title,
      .ant-menu-submenu-arrow {
        color: $color_neutral;

        & > span {
          flex: auto;
          min-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .ant-menu-item-active,
      .ant-menu-submenu-active {
        color: $color_neutral;
      }

      .ant-menu-item-selected,
      .ant-menu-submenu-open {
        background: none;
        border: none;

        img {
          filter: invert(57%) sepia(82%) saturate(6579%) hue-rotate(157deg) brightness(94%) contrast(101%);
        }

        .ant-menu-submenu-arrow {
          color: $color-green-2;
        }

        span {
          font-weight: normal;
          font-size: 16px;
          color: $color-green-2;
          border: none;
        }

        &::after {
          right: 5px;
          left: 5px;
          color: $color-green-2;
          border: none;
        }

        .ant-menu-title-content {
          font-size: 16px;
          border-radius: 10px;
          color: $color-green-2;
          background-color: none;
        }
      }
      .ant-menu-sub {
        background-color: $color-white;
      }
      .sub-menu-container {
        .ant-menu-title-content {
          font-weight: normal;
          font-size: 16px;
          border-radius: 10px;
          color: $color_neutral;
          border-left: 2px solid $color-gray-4;
          padding-left: 30px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        .ant-menu-item-active,
        .ant-menu-item-selected {
          span {
            font-size: 16px;
            border-radius: 10px;
            color: $color_neutral;
            background-color: $color-gray-4;
            padding-left: 30px;
          }
        }
      }
    }
    .ant-menu {
      // background: $background-color-sider;
      font-size: 16px;
      border-radius: 0;

      overflow: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 14px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 14px 14px $color6;
        border: solid 4px transparent;
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 14px 14px $color-grey-5;
        border: solid 4px transparent;
        border-radius: 14px;
      }

      // .ant-menu-item {
      //   padding: 16px;
      //   margin: 16px 0;
      // }

      // .ant-menu-item-selected {
      // background: #28c2ff;
      // border-radius: 8px;
      // width: calc(100% - 32px);
      // margin: 16px;
      // padding: 0 16px !important;
      // }
    }

    .social_media-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
    }

    .social_media-icon {
      width: 24px;
      height: 24px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .sider-collapse {
    @extend .sider;

    .ant-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: none;
      }
    }

    .social_media-small-icon {
      width: 14px;
      height: 14px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .ant-layout-sider {
  //   height: 100vh !important;
  // }
}

.home-icon .exchange-icon {
  width: 16px;
  height: 24px;
}

.document-icon {
  width: 22px;
  height: 24px;
}
.wallet-analytics-icon {
  width: 24px;
  height: 24px;
}
