@import 'src/assets/scss/responsive.scss';

.footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(104.65deg, #3e6283 -25.79%, #1f1c45 72.84%);
  height: 8%;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #71cef3;

  @include mobile {
    margin-bottom: 67px;
  }
}
