@import '../../assets/scss/variable.scss';
.audio-player {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 482px;
  max-height: 482px;
  background-color: $color3;
  border-radius: 8px;

  &__video {
    width: 100%;
    min-width: 300px;
    border-radius: 8px;
  }

  &__audio {
    width: 100%;
    min-width: 300px;
  }

  .controller {
    background: rgba($color: $color5, $alpha: 0.6);
    border-radius: 48px;
    display: flex;
    align-items: center;
    position: absolute;
    height: 40px;
    bottom: 12px;
    width: 90%;
    min-width: 350px;

    &--hidden {
      visibility: hidden;
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    &-playPause {
      width: 20px;
      height: 20px;
      margin: 0 26px 0 22px;
    }

    &-play {
      width: 100%;
      height: 100%;
    }

    &-mute {
      width: 24px;
      height: 24px;
      margin: 0 26px 0 24px;
    }

    &-full-screen {
      width: 20px;
      height: 20px;
      margin: 0 22px 0 0;
    }

    .progress-wrap {
      flex: 1;

      .progress-bar {
        --bar-bg: $color13;
        --seek-before-width: 0;
        --knobby: none;
        --selectedKnobby: none;

        display: block;
        appearance: none;
        background: $color1;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 8px;
        outline: none;

        /* progress bar - safari */
        &::-webkit-slider-runnable-track {
          background: $color1;
          border-radius: 10px;
          position: relative;
          width: 100%;
          height: 8px;
          outline: none;
        }

        /* progress bar - firefox */
        &::-moz-range-track {
          background: $color1;
          border-radius: 10px;
          position: relative;
          width: 100%;
          height: 8px;
          outline: none;
        }

        &::-moz-focus-outer {
          border: 0;
        }

        /* progress bar - chrome and safari */
        &::before {
          content: '';
          height: 8px;
          width: var(--seek-before-width);
          background-color: $color13;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          cursor: pointer;
          border-radius: 8px;
        }

        /* progress bar - firefox */
        &::-moz-range-progress {
          background-color: $color13;
          border-radius: 10px;
          height: 8px;
        }

        /* knobby - chrome and safari */
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 8px;
          width: 15px;
          border-radius: 10px;
          border: none;
          background-color: var(--knobby);
          cursor: pointer;
          position: relative;
          margin: -2px 0 0 0;
          z-index: 3;
          box-sizing: border-box;
        }

        /* knobby while dragging - chrome and safari */
        &:active::-webkit-slider-thumb {
          transform: scale(1.2);
          background: var(--selectedKnobby);
        }

        /* knobby - firefox */
        &::-moz-range-thumb {
          height: 8px;
          width: 15px;
          border-radius: 10px;
          border: transparent;
          background-color: var(--knobby);
          cursor: pointer;
          position: relative;
          z-index: 3;
          box-sizing: border-box;
        }

        /* knobby while dragging - firefox */
        &:active::-moz-range-thumb {
          transform: scale(1.2);
          background: var(--selectedKnobby);
        }
      }
    }

    .duration {
      font-size: 16px;
      list-style: 24px;
      font-weight: 500;
      margin-left: 24px;
      width: 50px;
      color: $color1;
    }
  }
}
