@import 'src/assets/scss/variable.scss';

.custom-input-number {
  .ant-input-affix-wrapper {
    min-height: 52px;
    max-height: 160px;
    border-radius: 8px;
    border: 1px solid $color-grey-5;
    .ant-input {
      color: $color-black-1;
      font-size: 16px;
    }
    .ant-input-disabled {
      color: unset;
      font-size: 14px;
    }
  }
}
