@import 'src/assets/scss/variable.scss';

.item-with-tooltip {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    color: $color-black-1;
  }

  &__helpIcon {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    margin-bottom: 1px;
    cursor: pointer;
    color: $color-grey-2;
  }
}

.available-tooltip {
  max-width: 322px;
}
