@import 'src/assets/scss/variable.scss';

.type-connect-group {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .box-connect {
    &:hover {
      background: $color4;
    }
    cursor: pointer;
    width: 45.5%;
    height: 148px;
    border: 1px solid $color3;
    border-radius: 8px;
    background: $color1;
    .group-content {
      flex-direction: column;
      text-align: center;
      margin-top: 24px;
      .text {
        font-size: 14px;
        color: $color2;
        font-weight: 600;
        margin-top: 15px;
        line-height: 21px;
      }
    }
  }
  .active-connect {
    background: $color4;
  }
}
.footer-connect-modal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: $color2;
  line-height: 21px;
  margin-top: 20px;
}
