.hexagon-wapprer {
  background-image: url('/images/meal_bg.png');
  width: 116px;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component-banner {
  display: flex;
  background: $color_dark_600;
  .image {
    background-image: url('/images/d01.jpg');
    width: 40%;
    height: 312px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .percent {
      width: 180px;
      height: 180px;
      border: 2px solid;
      border-radius: 50%;
    }
  }
  .chart {
  }
}
