.challenge {
  .recomend-item {
    background: $color_dark_600;
    .title {
      color: $color_primary_300;
    }
    .line {
      height: 1px;
      width: 100px;
      background: $color_white;
      margin: 0 auto;
    }
  }
  .article-item {
    .tag {
      color: $color_primary_400;
    }
  }
}
